@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #e5e5e5;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 340px;
    height: 340px;
    transition: 0.5s ease;
}

.boxes.big {
    width: 360px;
    height: 360px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    width: 85px;
    height: 85px;
    background-image: url('./images/giphy\ \(340\).gif');
    background-repeat: no-repeat;
    background-size: 340px 340px;
    position: relative;
    transition: 0.5s ease;
}

.boxes.big .box::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 5px;
    right: -5px;
    top: 3px;
    transform: skewY(45deg);
}

.boxes.big .box::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 3px;
    transform: skewX(45deg);
}

.btn {
    position: fixed;
    z-index: 100;
    bottom: 20%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 15px;
    font-size: 1.1rem;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: none;
}

@media (min-width: 580px) {
    .boxes {
        height: 500px;
        width: 500px;
    }

    .boxes.big {
        height: 525px;
        width: 525px;
    }

    .box {
        width: 125px;
        height: 125px;
        background-image: url('./images/giphy\ \(500\).gif');
        background-size: 500px 500px;
    }

    .btn {
        bottom: 15%;
    }
}